<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raintree.signature" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaintBoardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".ColorPaletteDialog"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>

        <activity
            android:name=".PenPaletteDialog"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>

        <activity
            android:name=".NameDialog"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>

        <activity
            android:name=".SortDialog"
            android:theme="@style/mydialogstyle"
            >
        </activity>

        <activity
            android:name=".FilterDialog"
            android:theme="@style/mydialogstyle"
            >
        </activity>

        <activity
            android:name=".SelectedItemDialog"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>
    </application>

</manifest>
